<div class="catalog-filtration">
  <h6>Включити</h6>
  <div class="select-mock">Жанри</div>
  <div class="select-mock">Теги</div>

  <h6>Статус</h6>

  <div class="statuses">
    <div class="checkbox-column">
      <div class="checkbox-block">
        <input type="checkbox">
        Завершенна
      </div>
      <div class="checkbox-block">
        <input type="checkbox">
        Заморожена
      </div>
    </div>

    <div class="checkbox-column">
      <div class="checkbox-block">
        <input type="checkbox">
        В процесі
      </div>
      <div class="checkbox-block">
        <input type="checkbox">
        Покинута
      </div>
    </div>
  </div>
  <h6>Кількість сторінок</h6>
  <div class="pages">
    <div>
      <label>Від</label>
      <input type="text">
    </div>
    <div>
      <label>До</label>
      <input type="text">
    </div>
  </div>

  <h6>Включити</h6>
  <div class="select-mock">Жанри</div>
  <div class="select-mock">Теги</div>

  <div class="checkbox-block library-books">
    <input type="checkbox">
    Показувати твори з бібліотеки
  </div>

  <button class="filter-button">Застосувати</button>
</div>
