<div class="book-highlights">
  <img class="book-image" [src]="imgSrc" [alt]="name">
  <div class="description">
    <h4 class="name">{{name}}</h4>
    <span class="author">{{author}}</span>
    <div class="ratings">
      <span class="stars"><img src="assets/img/fi-rr-star.png" alt="stars"> {{stars}}</span>
      <span class="views"><img src="assets/img/fi-rr-eye.png" alt="views"> {{views}}</span>
    </div>
    <span class="tag">{{tag}}</span>
    <div class="pages">{{status}} | Стр. {{numberOfPages}}</div>
    <span class="price">{{price}}</span>
  </div>
</div>
