.popular-tags{
  margin-top: 93px;
}


app-main-button{
  margin: 0 21px 21px 0;
  display: inline-block;
}

h2{
  font-size: 48px;
  margin-bottom: 40px;
}

.popular-tags-list{
  max-width: 900px;
}
