<div class="comments">
  <h4>Коментарі 35</h4>
  <app-comments-item
  username = "Ганна Кондратова"
  time="Вчора 12:30"
  text="Дуже сподобався твір! Дякую автору! Чекаю ще новинок!"></app-comments-item>
  <app-comments-item
    username = "Ганна Кондратова"
    time="Вчора 12:30"
    text="Дуже сподобався твір! Дякую автору! Чекаю ще новинок!"></app-comments-item>
  <app-comments-item
    username = "Ганна Кондратова"
    time="Вчора 12:30"
    text="Дуже сподобався твір! Дякую автору! Чекаю ще новинок!"></app-comments-item>
  <app-comments-item
    username = "Ганна Кондратова"
    time="Вчора 12:30"
    text="Дуже сподобався твір! Дякую автору! Чекаю ще новинок!"></app-comments-item>
</div>
