header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  .header-text{
    margin-right: 200px;

    h2{
      font-size: 48px;
    }

    div{
      font-size: 20px;
      line-height: 30px;
      font-weight: 400;
      color: black;
      margin: 75px 0;
    }
  }
}

@media (max-width: 1000px) {
  header{

    flex-direction: column-reverse;
  }
}

@media (max-width: 600px) {
  header{
    zoom: 0.6;
  }
}
