<header>
  <div class="header-text">
    <h2>Книга дня</h2>

    <div>Ця книга - це подорож у світ фантастичних <br>
      можливостей та нескінченних  ідей. Відкрийте для себе <br>
      унікальний світ, де межа між реальністю та  уявою <br>
      розтанула, і кожна сторінка приносить нові відкриття та <br>
      враження.  Це історія про те, як слова оживають на <br>
      сторінках, а читачі опиняються у  центрі подій, які <br>
      можуть змінити все.</div>
    <app-main-button width="183" height="54" fontSize="24">Детальніше</app-main-button>
  </div>
  <div class="header-image">
    <img src="/assets/img/header-book.png" alt="hero image">
  </div>
</header>
