<div class="catalog-list">
  <app-catalog-book-list-item
    name="Пригоди Володимерв"
    author="Невідомий автор"
    imgSrc="/assets/img/book-image.png"
    tag="сильний герой"
    numberOfPages="294"
    price="Безкоштовно"
    stars="123"
    views="123"
    descriptions="Ця книга - це подорож у світ фантастичних можливостей та нескінченних  ідей. Відкрийте для себе унікальний світ, де межа між реальністю та  уявою розтанула, і кожна сторінка приносить нові відкриття та враження.  Це історія про те, як слова оживають на сторінках, а читачі опиняються у  центрі подій, які можуть змінити все.">
  </app-catalog-book-list-item>
  <app-catalog-book-list-item
    name="Пригоди Володимерв"
    author="Невідомий автор"
    imgSrc="/assets/img/book-image.png"
    tag="сильний герой"
    numberOfPages="294"
    price="Безкоштовно"
    stars="123"
    views="123"
    descriptions="Ця книга - це подорож у світ фантастичних можливостей та нескінченних  ідей. Відкрийте для себе унікальний світ, де межа між реальністю та  уявою розтанула, і кожна сторінка приносить нові відкриття та враження.  Це історія про те, як слова оживають на сторінках, а читачі опиняються у  центрі подій, які можуть змінити все.">
  </app-catalog-book-list-item>
  <app-catalog-book-list-item
    name="Пригоди Володимерв"
    author="Невідомий автор"
    imgSrc="/assets/img/book-image.png"
    tag="сильний герой"
    numberOfPages="294"
    price="Безкоштовно"
    stars="123"
    views="123"
    descriptions="Ця книга - це подорож у світ фантастичних можливостей та нескінченних  ідей. Відкрийте для себе унікальний світ, де межа між реальністю та  уявою розтанула, і кожна сторінка приносить нові відкриття та враження.  Це історія про те, як слова оживають на сторінках, а читачі опиняються у  центрі подій, які можуть змінити все.">
  </app-catalog-book-list-item>
  <app-catalog-book-list-item
    name="Пригоди Володимерв"
    author="Невідомий автор"
    imgSrc="/assets/img/book-image.png"
    tag="сильний герой"
    numberOfPages="294"
    price="Безкоштовно"
    stars="123"
    views="123"
    descriptions="Ця книга - це подорож у світ фантастичних можливостей та нескінченних  ідей. Відкрийте для себе унікальний світ, де межа між реальністю та  уявою розтанула, і кожна сторінка приносить нові відкриття та враження.  Це історія про те, як слова оживають на сторінках, а читачі опиняються у  центрі подій, які можуть змінити все.">
  </app-catalog-book-list-item>
  <app-catalog-book-list-item
    name="Пригоди Володимерв"
    author="Невідомий автор"
    imgSrc="/assets/img/book-image.png"
    tag="сильний герой"
    numberOfPages="294"
    price="Безкоштовно"
    stars="123"
    views="123"
    descriptions="Ця книга - це подорож у світ фантастичних можливостей та нескінченних  ідей. Відкрийте для себе унікальний світ, де межа між реальністю та  уявою розтанула, і кожна сторінка приносить нові відкриття та враження.  Це історія про те, як слова оживають на сторінках, а читачі опиняються у  центрі подій, які можуть змінити все.">
  </app-catalog-book-list-item>
  <app-catalog-book-list-item
    name="Пригоди Володимерв"
    author="Невідомий автор"
    imgSrc="/assets/img/book-image.png"
    tag="сильний герой"
    numberOfPages="294"
    price="Безкоштовно"
    stars="123"
    views="123"
    descriptions="Ця книга - це подорож у світ фантастичних можливостей та нескінченних  ідей. Відкрийте для себе унікальний світ, де межа між реальністю та  уявою розтанула, і кожна сторінка приносить нові відкриття та враження.  Це історія про те, як слова оживають на сторінках, а читачі опиняються у  центрі подій, які можуть змінити все.">
  </app-catalog-book-list-item>
</div>
