
.catalog{
  padding: 165px 80px 20px;

  .content{
    display: flex;
  }

  .catalog-left-side{
    flex: 1;
  }

  app-catalog-book-list{
    flex: 4;
  }
}

h2{
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 80px;
}

app-catalog-book-list {
  margin-left: 50px;
}


@media (max-width: 900px) {
  app-vertical-book-list{
    display: none;
  }

  .content{
    flex-direction: column;
  }

  .catalog{
    zoom: 0.7;
  }

  app-catalog-filtration{
    zoom: 0.6;
  }

  app-catalog-book-list {
    margin-left: 0;
  }
}
